{% if admin.isGranted('VIEW', object) and admin.hasRoute('show') %}
    <a href="{{ admin.generateObjectUrl('show', object) }}" class="btn btn-sm btn-default edit_link" title="Mostra"><i class="fa fa-search-plus"></i></a>
{% endif %}
