{% extends "admin/edit.html.twig" %}

{% block sonata_form_actions %}
    {{ parent() }}
    {% if object.operator %}
        <br>
        <br>
        <a href="{{ path('admin_app_operator_operator_edit', { id:object.operator.id }) }}" class="btn btn-success" name="btn_update">
            <i class="fas fa-arrow-left" aria-hidden="true"></i>
            Volver a operario
        </a>
    {% endif %}
{% endblock %}
