{% extends sonata_block.templates.block_base %}

{% trans_default_domain "admin" %}

{% block block %}
<h2>Create operator work register block {{ settings.info }}</h2>
    {{ settings.info }}
{% endblock %}
