{% extends 'admin/layout.html.twig' %}

{# override javascript includes #}
{% block javascripts %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-2">
            <div class="box box-success">
                <div id="calendar"></div>
            </div>
        </div>
    </div>

{% block javascripts %}
    <script type="text/javascript">
      jQuery(document).ready(function() {
      })
    </script>
{% endblock %}
