{% if object.payslipLineConcept %}
    {% if object.payslipLineConcept.isDeduction %}
        <span class="label label-success">{{ 'Yes' | trans }}</span>
    {% else %}
        <span class="label label-danger">{{ 'No' | trans }}</span>
    {% endif %}
{% endif %}