{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <span class="{% if object.baseAmount < 0 %}text-danger{% else %}text-success{% endif %} pull-right">{{ object.baseAmount | number_format(2, ',', '.') }} €</span>
{% endblock %}
