{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit" | trans({'%name%': admin.toString(object) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create" | trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock%}

{% block actions %}
    <li>{% include '@SonataAdmin/Button/list_button.html.twig' %}</li>
    <li>{% include '@SonataAdmin/Button/create_button.html.twig' %}</li>
    <li>{% include 'admin/buttons/answer_button.html.twig' %}</li>
{% endblock %}
