{% block field %}
    {% if object %}
        <img src="{{ documentSrc }}" alt="thumbnail" style="height: 150px">
        <span class="span-helper">màxim 10MB amb JPG, PNG o GIF</span>
        <span class="span-helper">amplada mínima 1.200px</span>
    {% else %}
        <img src="https://via.placeholder.com/60x60.png?text=?" alt="thumbnail">
    {% endif %}
{% endblock %}
