{% extends ':Frontend:base_footer_common.html.twig' %}

{% block child_title %}Sobre este sitio{% endblock %}

{% block child_main %}
    <h1 class="main-title no-m extra-m-bottom">Sobre este sitio</h1>
    <h4 class="main-subtitle">Visualización.</h4>
    <p>Para construir este sitio hemos seguido los estándares de programación web internacionales, regulados por el <a
                href="https://www.w3.org/" target="_blank">Consorcio World Wide Web</a>. Podemos garantizar, por lo tanto, la correcta lectura desde cualquier plataforma, sistema operativo y navegador adaptado a los estándares.</p>
    <h4 class="main-subtitle">Propiedad, vigencia y uso de los contenidos.</h4>
    <p>Todos los contenidos escritos, las imágenes y los gráficos que aparecen en este sitio web son propiedad de Grúas Romaní S.A., excepto en los casos en que se especifique lo contrario. Todos estos contenidos no pueden ser reproducidos ni distribuidos sin una autorización expresa de Grúas Romaní S.A.</p>
    <p>Aunque intentamos que la información que aparece en este sitio web sea totalmente vigente i verídica, tenga en cuenta que en ningún caso es vinculante y que podría cambiar sin previo aviso.</p>
    <h4 class="main-subtitle">Privacidad de la navegación por el sitio.</h4>
    <p>En este sitio web podemos, en algún momento, usar galletas (cookies) para personalizar y mejorar su visita. En ningún caso las usaríamos para obtener información que no tuviera que ver con el propio uso de este sitio web.</p>
{% endblock %}
