{% extends ':Frontend:base_footer_common.html.twig' %}

{% block child_title %}Privacidad{% endblock %}

{% block child_main %}
    <h1 class="main-title no-m extra-m-bottom">Privacidad</h1>

    <h4 class="main-subtitle">¿Quién es el Responsable de Tratamiento de sus datos personales?</h4>
    <p>Le informamos que los datos personales que usted nos ha facilitado serán tratados como responsable de tratamiento por GRUAS ROMANÍ, S.A., con domicilio enCtra. Santa Barbara, km 1,5 de la localidad de Amposta (Tarragona), teléfono 977 701 795 y correo electrónico <a href="mailto:info@gruasromani.com">info@gruasromani.com</a>.</p>

    <h4 class="main-subtitle">¿Con qué finalidad tratamos sus datos personales?</h4>
    <p>La finalidad del tratamiento será la prestación de servicios de arrendamiento de maquinaria y equipo para la construcción de ingeniería civil.</p>

    <h4 class="main-subtitle">¿Cuál es la base jurídica del tratamiento de sus datos personales?</h4>
    <p>El otorgamiento del consentimiento por su parte mediante la casilla de verificación no premarcada, con la única finalidad de obtener información pre-contractual para la eejecución de servicios de arrendamiento de maquinaria y equipo para la construcción de ingeniería civil. Asimismo, se le solicitará el consentimiento expreso para el envío de comunicaciones comerciales mediante unacasilla de verificación no premarcada.</p>

    <h4 class="main-subtitle">¿A quien facilitaremos sus datos personales?</h4>
    <p>Se prevé efectuar cesión de sus datos de carácter personal, para el cumplimiento de obligaciones contractuales relativas a la prestación del los servicios efectuados por el responsable a entidades u organismos públicos que lo soliciten, tales como A.E.A.T., SOPC/SPE, T.G.S.S., I.N.S.S., Juzgados y tribunales, preveyendo la realización de transferencias internacionales a EEUU, más concretamente a GOOGLE INC, que se encuentra dentro de la lista de empresas con certificado Privacy Shield. En caso de nuevas cesiones, se le solicitará el consentimiento previo a las mismas.</p>

    <h4 class="main-subtitle">¿Durante cuanto tiempo mantendremos sus datos personales?</h4>
    <p>Estos datos de carácter personal se conservarán mientras dure la finalidad por la cual se han obtenido y siempre que no ejerza ningún derecho de los que le amparan.  Una vez finalice la prestación del servicio encomendado, se mantendrán debidamente bloqueados según lo establecido por la normativa sectorial vigente, y en concreto,</p>
    <ul style="list-style:none;">
        <li>Cuatro años en caso de mandato tributario y respecto de los datos que acrediten el cumplimiento de las obligaciones en materia de afiliación, altas, bajas, variaciones, documentos de cotización, recibidos de pagos de sueldo y del pago de prestaciones, en virtud del art.  21 de la ley sobre infracciones y sanciones en la orden social.</li>
        <li>Cinco años para la formulación, ejercicio o la defensa de reclamaciones, en virtud de lo dispuesto en el art. 1.964.2 del C. C, y respecto de la documentación en materia de prevención de riesgos laborales art. 4.3 ley sobre infracciones y sanciones en la orden social.</li>
        <li>Seis años respecto de los libros de contabilidad, facturas, según el art. 30 CC.</li>
        <li>Diez años para la formulación, ejercicio o la defensa de reclamaciones, en virtud de lo dispuesto en el art. 121.21 CCCat.</li>
    </ul>

    <h4 class="main-subtitle">¿Cuáles son sus derechos como titular de sus datos personales?</h4>
    <p>Tiene derecho a solicitar el acceso, la rectificación de sus datos personales incorrectos o inexactos, la portabilidad, y la supresión de sus datos personales, entre otros motivos, cuando los datos ya no son necesarios para los fines para los que se recogieron.</p>
    <p>También podrá solicitar en determinadas situaciones, la limitación del tratamiento de sus datos personales, conservándolos únicamente para el ejercicio o la defensa de reclamaciones.</p>
    <p>Podrá también oponerse al tratamiento de sus datos personales, en determinadas circunstancias y por motivos relacionados con su situación particular.</p>
    <p>Según lo dispuesto en el Art. 7.3 RGPD, tiene derecho a retirar el consentimiento prestado en cualquier momento, sin que la retirada del consentimiento afecte a la licitud del tratamiento efectuado antes de la retirada del mismo. Se le informa que, si ejerce este derecho, no se le podrá proporcionar la información solicitada, ni proceder al envío de comunicaciones comerciales. </p>
    <p>Tiene derecho a presentar una reclamación ante la autoridad de control ante la Agencia Española de Protección de Datos si considera que pueden haberse visto vulnerados sus derechos en relación a la protección de sus datos (<a href="https://agpd.es">agpd.es</a>).</p>
    <p>Podrá ejercitar todos estos derechos dirigiéndose a  con domicilio en Ctra. Santa Barbara, km 1,5 de la localidad de Amposta (Tarragona), o enviando un correo electrónico a <a href="mailto:info@gruasromani.com">info@gruasromani.com</a> indicando como Asunto: “RGPD” y adjuntando fotocopia de su documento identificativo.</p>

    <h4 class="main-subtitle">Obligatoriedad</h4>
    <p>Algunas de las casillas en las que el usuario debe introducir sus datos personales están marcadas con un asterisco (*), lo que significa la obligatoriedad del usuario de rellenar los mismos ya que de lo contrario, no se podrá cursar la solicitud efectuada por el usuario.</p>
    <p>El no facilitar los datos personales solicitados o el no aceptar la presente política de privacidad, supone la imposibilidad de recibir la información solicitada ni publicidad.</p>

    <h4 class="main-subtitle">Principios del tratamiento</h4>
    <p>Los datos personales proporcionados por el usuario son tratados de conformidad con lo dispuesto en el Art. 5 y 6 del RGPD, de manera lícita leal y transparente, recogidos con las finalidades arriba especificadas, siendo las mismas legítimas, y no serán tratados ulteriormente de manera incompatible con dichos fines. Asimismo, se garantiza la confidencialidad en su tratamiento.</p>
    <p>Además los datos recogidos son adecuados, pertinentes y limitados en relación con los fines para los que son tratados.</p>

    <h4 class="main-subtitle">Veracidad y exactitud de los datos personales del usuario</h4>
    <p>El usuario garantiza que los datos aportados son verídicos, exactos y correctos, y se compromete a comunicar cualquier cambio que se pudiera producir en éstos con la finalidad de dar cumplimiento al principio de exactitud de los datos de carácter personal establecido por el RGPD.</p>
    <p>El usuario exonera a GRUAS ROMANÍ, S.A. de cualquier responsabilidad al respecto.</p>

    <h4 class="main-subtitle">Medidas de seguridad</h4>
    <p>GRUAS ROMANÍ, S.A.como responsable del Sitio web y según lo dispuesto en el Reglamento UE 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en el que respeta al tratamiento de datos personales y a la libre circulación de estas y por el que se deroga la Directiva 95/46/CE (a partir de este momento RGPD), La Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales, de ahora en adelante LOPDGDD y resto de normativa de aplicación, tiene implementadas las medidas técnicas y organizativas necesarias para garantizar y proteger la confidencialidad, integridad, disponibilidad y resiliencia permanente de los sistemas y servicios de tratamiento, así como de los datos de carácter personal introducidos.</p>

    <h4 class="main-subtitle">Aceptación y consentimiento</h4>
    <p>Mediante la indicación e introducción de los datos personales, usted otorga el consentimiento inequívoco y expreso a GRUAS ROMANÍ, S.A. para que proceda al tratamiento de los datos personales facilitados para las finalidades mencionadas anteriormente.</p>

    <h4 class="main-subtitle">Cambios en la presente política de privacidad</h4>
    <p>GRUAS ROMANÍ, S.A. se reserva el derecho a modificar la presente política de privacidad para adaptarla a novedades legislativas o jurisprudenciales.</p>

    <h4 class="main-subtitle">Correos comerciales</h4>
    <p>Sólo serán remitidos cuando sean expresamente solicitados por el usuario, por ello en los formularios de contacto de nuestro sitio web tiene la posibilidad de dar su consentimiento expreso para la recepción del mismo, con independencia de la información comercial puntualmente solicitada.</p>

    <h4 class="main-subtitle">Legislación</h4>
    <p>La resolución de todos los conflictos derivados o relacionados con el uso del presente sitio web serán competencia de los Juzgados y Tribunales de Amposta (Tarragona).</p>
    <p>Si usted está contratando como consumidor, nada en la presente cláusula afectará a los derechos que cómo tal le reconoce la legislación vigente.</p>

    <div class="alert alert-info" role="alert">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> En Grúas Romaní no nos gusta el <strong>spam</strong> y contribuimos a erradicarlo.
    </div>
{% endblock %}
