{% extends 'admin/layout.html.twig' %}

{% block sonata_admin_content %}
    {{ parent() }}
    <div class="sonata-ba-form">
        <form role="form" action="{{ path('admin_app_vehicle_vehicleconsumption_uploadCsv') }}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        Importar csv de consumos de combustible
                                    </h4>
                                </div>
                                <div class="box-body">
{#                                    render form from controller#}
{#                                    <div class="sonata-ba-collapsed-fields">#}
{#                                        <div class="form-group" id="sonata-ba-field-container-s617aa16cbfb6b_name">#}
{#                                            <label class="control-label required" for="csvFile">#}
{#                                                Fichero#}
{#                                            </label>#}
{#                                            <div class="sonata-ba-field sonata-ba-field-standard-natural">#}
{#                                                <input type="file" name="csvFile" accept="text/csv" required="required" class=" form-control">#}
{#                                                <span class="help-block sonata-ba-field-widget-help sonata-ba-field-help"></span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sonata-ba-form-actions well well-small form-actions">
                <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-upload" aria-hidden="true"></i> Importar csv</button>
            </div>
        </form>
    </div>
{% endblock sonata_admin_content %}
